<head>
  <title>Login page</title>
</head>

<div class="container">
  <div class="main-content">
    <div class="left-side">
      <div>
        <img style="width:200px" src="https://image.flaticon.com/icons/png/512/3135/3135715.png" />
      </div>
    </div>
    <div class="right-side">
      <div class="actionContainer">
        <label for="example-2">Please enter secret word</label>
        <input id="example-2" type="password"  placeholder="Secret word..." />
        <button (click)="auth.login()">Login</button>
      </div>
    </div>
  </div>
</div>



