<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 routerLink="" style="color: aliceblue; cursor: pointer;">Workers</h1>
    <div class="d-flex">
      <button routerLink="/Dashboard" style="margin-right: 10px"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Dashboard</button>
      <button routerLink="/Login"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Login</button>
    </div>
  </div>
</nav>



